In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [32]:
#read data
orders = pd.read_excel('data/muesli_raw_data.xlsx', header=1) #Sonia needs to change the path
#df = pd.read_csv('data/muesli_csv.csv', header=1)
#df = pd.read_csv('/Users/linaperez/downloads/5 - Muesli Project raw data - Orders.csv', header=1) #Sonia needs to change the path
orders.head()

,Index,Order ID,Order Date,Ship mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27.0,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3.0,0.0,11.7741
1,45.0,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2.0,0.0,19.7714
2,48.0,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3.0,0.0,4.9500
3,60.0,CA-2019-111682,2019-06-17,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2.0,0.0,3.3000
4,63.0,CA-2018-135545,2018-11-24,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2.0,0.0,6.1512

In [33]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index           9994 non-null   float64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship mode       9994 non-null   object
 4   Customer ID     9994 non-null   object
 5   Customer Name   9994 non-null   object
 6   Origin Channel  9994 non-null   object
 7   Country/Region  9994 non-null   object
 8   City            9994 non-null   object
 9   State           9994 non-null   object
 10  Postal Code     9983 non-null   float64
 11  Region          9994 non-null   object
 12  Category        9994 non-null   object
 13  Sub-Category    9994 non-null   object
 14  Product ID      9994 non-null   object
 15  Sales           9994 non-null   float64
 16  Quantity        9994 non-null   float64
 17  Discount        9994 non-null   float64
 18  Profit          9994 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(12)
memory usage: 1.4+ MB

In [28]:
arrival= pd.read_excel('data/muesli_raw_data.xlsx', sheet_name='Campaign Data')
arrival.head()

         Order ID Arrival Scan Date     Customer Name
0  CA-2019-109666        2019-05-03      Kunst Miller
1  CA-2019-138933        2019-05-03       Jack Lebron
2  CA-2019-130001        2019-05-03  Heather Kirkland
3  CA-2019-113061        2019-05-06         Ed Ludwig
4  CA-2019-162138        2019-05-06       Grace Kelly

In [27]:
truck = pd.read_excel('data/muesli_raw_data.xlsx', sheet_name='Order Process Data')
truck.head()

   Row ID        Order ID Order Date On Truck Scan Date            Ship Mode
0  3074.0  CA-2019-125206 2019-01-03         2019-01-07              Express
1  4919.0  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
2  4920.0  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
3  8604.0  US-2019-116365 2019-01-03         2019-01-09  Standard Processing
4  8605.0  US-2019-116365 2019-01-03         2019-01-09  Standard Processing

In [30]:
ready_pickup = pd.read_excel('data/muesli_raw_data.xlsx', sheet_name='InternData Study')
ready_pickup.head()

         Order ID Ready to Ship Date Pickup Date
0  CA-2019-116540         2019-09-02  2019-09-03
1  CA-2019-116540         2019-09-02  2019-09-03
2  CA-2019-129847         2019-09-04  2019-09-04
3  CA-2019-129630         2019-09-04  2019-09-04
4  CA-2019-106278         2019-09-05  2019-09-06